name: Active Directory Kerberos DLL Loaded Via Office Application
id: 7417e29e-c2e7-4cf6-a2e8-767228c64837
author: Antonlovesdnb
date: 2020/02/19
level: medium
description: Detects Kerberos DLL being loaded by an Office Product
status: test
modified: 2023/03/28
logsource:
  category: image_load
  product: windows
tactics:
- execution
relevantTechniques:
- t1204.002
query: 'DeviceImageLoadEvents

  | where FolderPath endswith "\\kerberos.dll" and (InitiatingProcessFolderPath endswith
  "\\excel.exe" or InitiatingProcessFolderPath endswith "\\mspub.exe" or InitiatingProcessFolderPath
  endswith "\\onenote.exe" or InitiatingProcessFolderPath endswith "\\onenoteim.exe"
  or InitiatingProcessFolderPath endswith "\\outlook.exe" or InitiatingProcessFolderPath
  endswith "\\powerpnt.exe" or InitiatingProcessFolderPath endswith "\\winword.exe")'
