name: Arbitrary File Download Via ConfigSecurityPolicy.EXE
id: 1f0f6176-6482-4027-b151-00071af39d7e
author: frack113
date: 2021/11/26
level: medium
description: 'Detects the execution of "ConfigSecurityPolicy.EXE", a binary part of
  Windows Defender used to manage settings in Windows Defender.

  Users can configure different pilot collections for each of the co-management workloads.

  It can be abused by attackers in order to upload or download files.

  '
status: test
modified: 2022/05/16
logsource:
  category: process_creation
  product: windows
tactics:
- exfiltration
relevantTechniques:
- t1567
query: 'DeviceProcessEvents

  | where (ProcessCommandLine contains "ConfigSecurityPolicy.exe" or FolderPath endswith
  "\\ConfigSecurityPolicy.exe" or ProcessVersionInfoOriginalFileName =~ "ConfigSecurityPolicy.exe")
  and (ProcessCommandLine contains "ftp://" or ProcessCommandLine contains "http://"
  or ProcessCommandLine contains "https://")'
