name: DeviceCredentialDeployment Execution
id: b8b1b304-a60f-4999-9a6e-c547bde03ffd
author: Nasreddine Bencherchali (Nextron Systems)
date: 2022/08/19
severity: medium
description: Detects the execution of DeviceCredentialDeployment to hide a process
  from view
status: test
modified: ''
logsource:
  category: process_creation
  product: windows
tactics:
- defense_evasion
relevantTechniques:
- t1218
query: 'DeviceProcessEvents

  | where FolderPath endswith "\\DeviceCredentialDeployment.exe"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
kind: Scheduled
