name: Firewall Configuration Discovery Via Netsh.EXE
id: 0e4164da-94bc-450d-a7be-a4b176179f1f
author: frack113, Christopher Peacock '@securepeacock', SCYTHE '@scythe_io'
date: 2021/12/07
severity: low
description: Adversaries may look for details about the network configuration and
  settings of systems they access or through information discovery of remote systems
status: experimental
modified: 2023/12/11
logsource:
  category: process_creation
  product: windows
tactics:
- discovery
relevantTechniques:
- t1016
query: 'DeviceProcessEvents

  | where ((ProcessCommandLine contains "config " or ProcessCommandLine contains "state
  " or ProcessCommandLine contains "rule " or ProcessCommandLine contains "name=all")
  and (ProcessCommandLine contains "netsh " and ProcessCommandLine contains "show
  " and ProcessCommandLine contains "firewall ")) and (FolderPath endswith "\\netsh.exe"
  or ProcessVersionInfoOriginalFileName =~ "netsh.exe")'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
kind: Scheduled
