name: Mshtml.DLL RunHTMLApplication Suspicious Usage
id: 4782eb5a-a513-4523-a0ac-f3082b26ac5c
author: Nasreddine Bencherchali (Nextron Systems),  Florian Roth (Nextron Systems),
  Josh Nickels, frack113, Zaw Min Htun (ZETA)
date: 2022/08/14
severity: high
description: 'Detects execution of commands that leverage the "mshtml.dll" RunHTMLApplication
  export to run arbitrary code via different protocol handlers (vbscript, javascript,
  file, http...)

  '
status: test
modified: 2024/02/23
logsource:
  category: process_creation
  product: windows
tactics:
- defense_evasion
- execution
relevantTechniques: []
query: 'DeviceProcessEvents

  | where (ProcessCommandLine contains "#135" or ProcessCommandLine contains "RunHTMLApplication")
  and (ProcessCommandLine contains "\\..\\" and ProcessCommandLine contains "mshtml")'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
kind: Scheduled
