name: New BgInfo.EXE Custom DB Path Registry Configuration
id: 53330955-dc52-487f-a3a2-da24dcff99b5
author: Nasreddine Bencherchali (Nextron Systems)
date: 2023/08/16
severity: medium
description: Detects setting of a new registry database value related to BgInfo configuration.
  Attackers can for example set this value to save the results of the commands executed
  by BgInfo in order to exfiltrate information.
status: experimental
modified: ''
logsource:
  category: registry_set
  product: windows
tactics:
- Defense Evasion
relevantTechniques:
- T1112
query: 'DeviceRegistryEvents

  | where ActionType =~ "RegistryValueSet" and RegistryKey endswith "\\Software\\Winternals\\BGInfo\\Database"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
