name: New BgInfo.EXE Custom VBScript Registry Configuration
id: 992dd79f-dde8-4bb0-9085-6350ba97cfb3
author: Nasreddine Bencherchali (Nextron Systems)
date: 2023-08-16
severity: medium
description: Detects setting of a new registry value related to BgInfo configuration,
  which can be abused to execute custom VBScript via "BgInfo.exe"
status: test
modified: ''
logsource:
  category: registry_set
  product: windows
tactics:
- Defense-evasion
relevantTechniques:
- T1112
query: 'DeviceRegistryEvents

  | where RegistryValueData startswith "4" and ActionType =~ "RegistryValueSet" and
  RegistryKey contains "\\Software\\Winternals\\BGInfo\\UserFields"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
