name: Office Application Initiated Network Connection To Non-Local IP
id: 75e33ce3-ae32-4dcc-9aa8-a2a3029d6f84
author: Christopher Peacock '@securepeacock', SCYTHE '@scythe_io', Florian Roth (Nextron
  Systems), Tim Shelton
date: 2021/11/10
level: medium
description: 'Detects an office application (Word, Excel, PowerPoint)  that initiate
  a network connection to a non-private IP addresses.

  This rule aims to detect traffic similar to one seen exploited in CVE-2021-42292.

  This rule will require an initial baseline and tuning that is specific to your organization.

  '
status: test
modified: 2024/03/13
logsource:
  category: network_connection
  product: windows
tactics:
- execution
relevantTechniques:
- t1203
query: 'DeviceNetworkEvents

  | where (InitiatingProcessFolderPath endswith "\\excel.exe" or InitiatingProcessFolderPath
  endswith "\\powerpnt.exe" or InitiatingProcessFolderPath endswith "\\winword.exe"
  or InitiatingProcessFolderPath endswith "\\wordview.exe") and (not(((ipv4_is_in_range(RemoteIP,
  "127.0.0.0/8") or ipv4_is_in_range(RemoteIP, "10.0.0.0/8") or ipv4_is_in_range(RemoteIP,
  "172.16.0.0/12") or ipv4_is_in_range(RemoteIP, "192.168.0.0/16") or ipv4_is_in_range(RemoteIP,
  "169.254.0.0/16") or ipv4_is_in_range(RemoteIP, "::1/128") or ipv4_is_in_range(RemoteIP,
  "fe80::/10") or ipv4_is_in_range(RemoteIP, "fc00::/7")) or (ipv4_is_in_range(RemoteIP,
  "20.184.0.0/13") or ipv4_is_in_range(RemoteIP, "20.192.0.0/10") or ipv4_is_in_range(RemoteIP,
  "23.72.0.0/13") or ipv4_is_in_range(RemoteIP, "51.10.0.0/15") or ipv4_is_in_range(RemoteIP,
  "51.103.0.0/16") or ipv4_is_in_range(RemoteIP, "51.104.0.0/15") or ipv4_is_in_range(RemoteIP,
  "204.79.197.0/24")))))'
