name: Office Application Startup - Office Test
id: 3d27f6dd-1c74-4687-b4fa-ca849d128d1c
author: omkar72
date: 2020-10-25
severity: medium
description: Detects the addition of office test registry that allows a user to specify
  an arbitrary DLL that will be executed every time an Office application is started
status: test
modified: 2023-11-08
logsource:
  category: registry_event
  product: windows
tactics:
- Persistence
relevantTechniques:
- T1137
query: 'DeviceRegistryEvents

  | where RegistryKey contains "\\Software\\Microsoft\\Office test\\Special\\Perf"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
