name: Potential Attachment Manager Settings Associations Tamper
id: a9b6c011-ab69-4ddb-bc0a-c4f21c80ec47
author: Nasreddine Bencherchali (Nextron Systems)
date: 2022/08/01
severity: high
description: Detects tampering with attachment manager settings policies associations
  to lower the default file type risks (See reference for more information)
status: experimental
modified: 2023/08/17
logsource:
  category: registry_set
  product: windows
tactics:
- Defense Evasion
relevantTechniques: []
query: 'DeviceRegistryEvents

  | where RegistryKey contains "\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Policies\\Associations"
  and ((RegistryValueData =~ "DWORD (0x00006152)" and RegistryKey endswith "\\DefaultFileTypeRisk")
  or ((RegistryValueData contains ".zip;" or RegistryValueData contains ".rar;" or
  RegistryValueData contains ".exe;" or RegistryValueData contains ".bat;" or RegistryValueData
  contains ".com;" or RegistryValueData contains ".cmd;" or RegistryValueData contains
  ".reg;" or RegistryValueData contains ".msi;" or RegistryValueData contains ".htm;"
  or RegistryValueData contains ".html;") and RegistryKey endswith "\\LowRiskFileTypes"))'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
