name: Potentially Suspicious Electron Application CommandLine
id: 378a05d8-963c-46c9-bcce-13c7657eac99
author: frack113, Nasreddine Bencherchali (Nextron Systems)
date: 2023/09/05
level: medium
description: Detects potentially suspicious CommandLine of electron apps (teams, discord,
  slack, etc.). This could be a sign of abuse to proxy execution through a signed
  binary.
status: experimental
modified: 2023/11/09
logsource:
  category: process_creation
  product: windows
tactics:
- execution
relevantTechniques: []
query: 'DeviceProcessEvents

  | where (ProcessCommandLine contains "--browser-subprocess-path" or ProcessCommandLine
  contains "--gpu-launcher" or ProcessCommandLine contains "--renderer-cmd-prefix"
  or ProcessCommandLine contains "--utility-cmd-prefix") and ((FolderPath endswith
  "\\chrome.exe" or FolderPath endswith "\\code.exe" or FolderPath endswith "\\discord.exe"
  or FolderPath endswith "\\GitHubDesktop.exe" or FolderPath endswith "\\keybase.exe"
  or FolderPath endswith "\\msedge_proxy.exe" or FolderPath endswith "\\msedge.exe"
  or FolderPath endswith "\\msedgewebview2.exe" or FolderPath endswith "\\msteams.exe"
  or FolderPath endswith "\\slack.exe" or FolderPath endswith "\\Teams.exe") or (ProcessVersionInfoOriginalFileName
  in~ ("chrome.exe", "code.exe", "discord.exe", "GitHubDesktop.exe", "keybase.exe",
  "msedge_proxy.exe", "msedge.exe", "msedgewebview2.exe", "msteams.exe", "slack.exe",
  "Teams.exe")))'
