name: Potentially Suspicious Child Process Of ClickOnce Application
id: 67bc0e75-c0a9-4cfc-8754-84a505b63c04
author: Nasreddine Bencherchali (Nextron Systems)
date: 2023/06/12
level: medium
description: Detects potentially suspicious child processes of a ClickOnce deployment
  application
status: test
modified: ''
logsource:
  category: process_creation
  product: windows
tactics:
- defense_evasion
- execution
relevantTechniques: []
query: 'DeviceProcessEvents

  | where (FolderPath endswith "\\calc.exe" or FolderPath endswith "\\cmd.exe" or
  FolderPath endswith "\\cscript.exe" or FolderPath endswith "\\explorer.exe" or FolderPath
  endswith "\\mshta.exe" or FolderPath endswith "\\net.exe" or FolderPath endswith
  "\\net1.exe" or FolderPath endswith "\\nltest.exe" or FolderPath endswith "\\notepad.exe"
  or FolderPath endswith "\\powershell.exe" or FolderPath endswith "\\pwsh.exe" or
  FolderPath endswith "\\reg.exe" or FolderPath endswith "\\regsvr32.exe" or FolderPath
  endswith "\\rundll32.exe" or FolderPath endswith "\\schtasks.exe" or FolderPath
  endswith "\\werfault.exe" or FolderPath endswith "\\wscript.exe") and InitiatingProcessFolderPath
  contains "\\AppData\\Local\\Apps\\2.0\\"'
