name: Rebuild Performance Counter Values Via Lodctr.EXE
id: cc9d3712-6310-4320-b2df-7cb408274d53
author: Nasreddine Bencherchali (Nextron Systems)
date: 2023/06/15
severity: medium
description: Detects the execution of "lodctr.exe" to rebuild the performance counter
  registry values. This can be abused by attackers by providing a malicious config
  file to overwrite performance counter configuration to confuse and evade monitoring
  and security solutions.
status: experimental
modified: 2024/03/05
logsource:
  category: process_creation
  product: windows
tactics:
- Execution
relevantTechniques: []
query: "DeviceProcessEvents\n| where (ProcessCommandLine contains \" -r\" or ProcessCommandLine\
  \ contains \" /r\" or ProcessCommandLine contains \" \u2013r\" or ProcessCommandLine\
  \ contains \" \u2014r\" or ProcessCommandLine contains \" \u2015r\") and (FolderPath\
  \ endswith \"\\\\lodctr.exe\" and ProcessVersionInfoOriginalFileName =~ \"LODCTR.EXE\"\
  )"
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
