name: RedMimicry Winnti Playbook Registry Manipulation
id: 5b175490-b652-4b02-b1de-5b5b4083c5f8
author: Alexander Rausch
date: 2020-06-24
severity: high
description: Detects actions caused by the RedMimicry Winnti playbook
status: test
modified: 2021-11-27
logsource:
  category: registry_event
  product: windows
tactics:
- Defense-evasion
relevantTechniques:
- T1112
query: 'DeviceRegistryEvents

  | where RegistryKey contains "HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\HTMLHelp\\data"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
triggerOperator: GreaterThan
kind: Scheduled
