name: Suspicious Binary In User Directory Spawned From Office Application
id: aa3a6f94-890e-4e22-b634-ffdfd54792cc
author: Jason Lynch
date: 2019/04/02
severity: high
description: Detects an executable in the users directory started from one of the
  Microsoft Office suite applications (Word, Excel, PowerPoint, Publisher, Visio)
status: test
modified: 2023/02/04
logsource:
  category: process_creation
  product: windows
tactics:
- execution
- g0046
relevantTechniques:
- t1204.002
query: 'DeviceProcessEvents

  | where (FolderPath endswith ".exe" and FolderPath startswith "C:\\users\\" and
  (InitiatingProcessFolderPath endswith "\\WINWORD.EXE" or InitiatingProcessFolderPath
  endswith "\\EXCEL.EXE" or InitiatingProcessFolderPath endswith "\\POWERPNT.exe"
  or InitiatingProcessFolderPath endswith "\\MSPUB.exe" or InitiatingProcessFolderPath
  endswith "\\VISIO.exe" or InitiatingProcessFolderPath endswith "\\MSACCESS.exe"
  or InitiatingProcessFolderPath endswith "\\EQNEDT32.exe")) and (not(FolderPath endswith
  "\\Teams.exe"))'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
kind: Scheduled
