name: UAC Bypass Using MSConfig Token Modification - Process
id: ad92e3f9-7eb6-460e-96b1-582b0ccbb980
author: Christian Burkard (Nextron Systems)
date: 2021/08/30
severity: high
description: Detects the pattern of UAC Bypass using a msconfig GUI hack (UACMe 55)
status: test
modified: 2022/10/09
logsource:
  category: process_creation
  product: windows
tactics:
- defense_evasion
- privilege_escalation
relevantTechniques:
- t1548.002
query: 'DeviceProcessEvents

  | where ProcessCommandLine =~ "\"C:\\Windows\\system32\\msconfig.exe\" -5" and (ProcessIntegrityLevel
  in~ ("High", "System")) and InitiatingProcessFolderPath endswith "\\AppData\\Local\\Temp\\pkgmgr.exe"'
eventGroupingSettings:
  aggregationKind: SingleAlert
queryFrequency: P1D
queryPeriod: P1D
enabled: true
entityMappings: null
sentinelEntitiesMappings: null
triggerThreshold: 0
suppressionDuration: PT5H
suppressionEnabled: false
kind: Scheduled
